

body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    // flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
  }

  
  